html {
  scroll-behavior: smooth;
}

.filter {
  fill: aliceblue;
}

.assis {
  visibility: hidden;
  width: 60%;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    177deg,
    rgba(2, 0, 36, 1) 27%,
    rgba(6, 6, 86, 1) 84%
  );
}

#desc,
#garantia,
#orcamento,
#local,
#contato {
  visibility: hidden;
}

.assis1 {
  visibility: hidden;
  width: 60%;
}

@media screen and (max-width: 767px) {
  #logo {
    display: none;
  }
}

@media screen and (max-width: 1300px) {
  .assis {
    width: auto;
  }
}
